/venv
/artifacts
/logs

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python cache files
__pycache__/
*.pyc

summarizer-data.zip
research/pegasus-finetuned/
research/pegasus-model/
research/pegasus-tokenizer/
research/summarizer-data/